@font-face{
    font-family: 'Cantarell';
    src : url('fonts/Cantarell-Regular.ttf') format('truetype');
}

body{
    margin: 0px;
    padding: 0px;
    
    background-image: url('medias/BG(2).jpg');
    background-attachment: fixed;
    font-family: Cantarell;
}

header{
    display : block;
    
    color : #34495e;
    text-align: center;
    
    border : 3px #34495e solid;
    
    background-color: rgba(52, 73, 94, 0.2);
    
    margin-bottom: 150px;
}

#title{
    font-size: 64px;
    margin: 0px;
    text-decoration: underline;
}

nav{
    width: 100%;
    border-top: 3px solid #34495e;
}

nav li{
   list-style-type: none;
}

nav a{
    display: inline-block;
    text-decoration: none;
}

nav > ul{
    margin: 0px;
    padding: 0px;
}

nav > ul::after{
    content: "";
    display: block;
    clear: both;
}

nav > ul > li{
    float: left;
    position: relative;
}

nav > ul > li > a{
    padding: 20px 30px;
    color: #1a5276 ;
    
}

nav> ul>li:hover > a{
    padding: 17px 30px 20px 30px;
    font-weight: bold;
}

.submenu{
    display : none;
}

.submenu li{
    border-bottom: 1.5px #34495e solid;
    background-color: rgba(255, 255, 255, 0.3);
}

.submenu li a{
    padding: 15px 30px;
    font-size: 0.8em;
    color: #34495e;
    width: 270px;
    
}

.submenu li:hover a{
    font-weight: bold;
    background-color: rgba(255,255,255,0.5)
}

nav li:hover ul{
    display :block;
    position: absolute;
    top: 100%;
    bottom: 0px;
    padding: 0px;
    z-index: 1000;
}

.menu:hover{
    border-top: 3px white solid;
    background-color: rgba(255,255,255,0.2);
}

article{
    margin: 0px 20% 50px 20%;
    text-align: justify;
}

.center{
    text-align: center;
}



footer{
    text-align: right;
    margin : 10px;
}

#pros{
    text-align: justify;
}